lib/deepTools/.git/objects/pack/pack-af847a23c1d67f93ce39ca7f5ed4057d28ff5a0c.pack
processed_data/endo_tss/lb/bc_map_consensus_bad_bcs.txt
processed_data/endo_tss/lb/model_files/gkmsvm_10mer_8ungapped_kernel
processed_data/endo_tss/lb/merged_reads/pEndo2_84.paired.discarded.fastq
processed_data/endo_tss/lb/merged_reads/pEndo2_85.paired.discarded.fastq
processed_data/endo_tss/lb/merged_reads/pEndo2_84.paired.assembled.fastq
processed_data/endo_tss/lb/merged_reads/pEndo2_85.paired.assembled.fastq
processed_data/endo_tss/lb/merged_reads/endo_lb_merged.fastq
processed_data/endo_tss/lb/endo_lb_bc_map.txt
processed_data/peak_tile/peak_tile_combined_bc_map.txt
processed_data/peak_tile/merged_reads/peak_tile_combined_merged.fastq
processed_data/peak_tile/merged_reads/pPeakTiling_83_combined.paired.discarded.fastq
processed_data/peak_tile/merged_reads/pPeakTiling_82_combined.paired.discarded.fastq
processed_data/peak_tile/merged_reads/pPeakTiling_82_combined.paired.assembled.fastq
processed_data/peak_tile/merged_reads/pPeakTiling_83_combined.paired.assembled.fastq
processed_data/peak_tile/bc_map_consensus_bad_bcs.txt
processed_data/frag/5prime.txt
processed_data/frag/sam_stats.txt
processed_data/frag/lb/U00096.2_frag-rLP5_LB_expression.txt
processed_data/frag/3prime.txt
processed_data/frag/pFrag_80.txt
processed_data/frag/barcode_maps.txt
processed_data/frag/pFrag_83.txt
processed_data/frag/m9/U00096.2_frag-rLP5_M9_expression.txt
processed_data/frag/frag_stats.txt
processed_data/frag/U00096.2_Align.sam
processed_data/endo_scramble/bc_map_consensus_bad_bcs.txt
processed_data/endo_scramble/model_files/scramble_peak_tile_expression_train_genome_split_kmer_counts.txt
processed_data/endo_scramble/endo_scramble_combined_bc_map.txt
processed_data/endo_scramble/merged_reads/pEndoScramble_81_combined.paired.discarded.fastq
processed_data/endo_scramble/merged_reads/pEndoScramble_80_combined.paired.discarded.fastq
processed_data/endo_scramble/merged_reads/pEndoScramble_80_combined.paired.assembled.fastq
processed_data/endo_scramble/merged_reads/pEndoScramble_81_combined.paired.assembled.fastq
processed_data/endo_scramble/merged_reads/endo_scramble_combined_merged.fastq
processed_data/endo_scramble/endo_scramble_combined_controls_bbmap.sam
processed_data/combined/tss_scramble_peak_expression_model_format_floored_train_genome_split_kmer_counts_1to6mers.txt
processed_data/combined/tss_scramble_peak_expression_model_format_floored_train_genome_split_kmer_counts.txt
processed_data/combined/tss_scramble_peak_expression_floored_train_genome_split_kmer_counts_1to6mers_vw_format.txt
processed_data/combined/tss_scramble_peak_expression_model_format_floored_test_genome_split_kmer_counts.txt
processed_data/combined/tss_scramble_peak_expression_model_format_floored_train_genome_split_kmer_counts_filtered.txt
processed_data/combined/tss_scramble_peak_expression_floored_train_genome_split_kmer_counts_1to6mers_vw_format.txt.cache
processed_data/combined/tss_scramble_peak_expression_model_format_floored_test_genome_split_kmer_counts_1to6mers.txt
processed_data/combined/tss_scramble_peak_expression_model_format_floored_test_genome_split_kmer_counts_filtered.txt
scripts/frag/FragmentBarcodes.txt
